<h1>My wishes list</h1>

<div class="table-responsive">
  <table class="table table-striped item-list-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @wishes.each do |wish| %>
        <tr>
          <td><%= wish.title %></td>
          <td><%= image_tag wish.image.url(:small), class: 'img-circle' %></td>
          <td class="action-column">
            <%= link_to edit_wish_path(wish), class: 'btn btn-primary' do %>
                <i class="fa fa-pencil"></i> Edit
            <% end %>
          </td>
          <td class="action-column">
            <%= link_to wish_path(wish), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are your sure?'} do %>
                <i class="fa fa-trash-o"></i> Delete
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>