<div class="container">
  <h1 class="home-title">Well Wisher</h1>
  <!--<p class="home-style">Create and let the world know what you desire</p>-->
</div>


  <!--<p>Soon at https://wellwisher.herokuapp.com/</p>-->
  <!--<p>Find me in app/views/home/index.html.erb</p>-->