// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -40px;
  padding-bottom: 80px;
}

.wrapper .alert {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 50%;
  margin: 0 0 0 -25%;
}

h1.home-title {
  color: MediumTurquoise;
  font-family: COMIC SANS MS;
  font-style: italic;
  font-size: 500%
}

p.home-style {
  color: MediumTurquoise;
  font-family: COMIC SANS MS;
  font-style: italic;
  font-size: 130%
}

.navbar.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar.navbar-inverse .navbar-nav > li, .nav.navbar-nav > li {
  margin-top: 10px;
}

.navbar.navbar-inverse .navbar-nav > li > a,
.navbar.navbar-inverse .navbar-nav > li > a:hover,
.navbar.navbar-inverse .navbar-nav > li > a:focus,
.nav.navbar-nav > li > a,
.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li > a:focus {
  color: white;
  background-color: MediumTurquoise;
  border-color: MediumTurquoise;
  padding-bottom: 10px;
  padding-top: 10px;
}

#profile {
  overflow: hidden;
}

#profiletabs > .nav.navbar-nav {
  margin-left: 50px;
}

.alert.notice {
  background-color: white;
  border-color: blue;
  color: blue;
}

footer {
  height: 40px;
  line-height: 40px;
}

.copyright {
  padding: 0;
  margin: 0;
  text-align: center;
}

//#Copyright p {
//  float: left;
//  clear: left;
//  margin: 0 0 8px;
//  padding: 20px 0 0;
//  text-align: left;
//  line-height: 160%;
//}

//
//.simple_form_edit_user
//{
//  margin-left: 20px;
//  padding-bottom: 10px;
//  padding-top: 10px;
//
//}
//
//.features div {
//  position: relative;
//  background: url(/images/bg-introduction.jpg)top center no-repeat #e4f2ff;
//  width: 258px;
//  height: 102px;
//  padding: 20px 0 12px;
//  margin-bottom: 25px;
//  border-radius: 8px;
//}

.item-list-table .action-column {
  width: 41px;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .navbar.navbar-inverse .navbar-nav > li, .nav.navbar-nav > li {
    margin-top: 0;
    margin-left: 20px;
  }
}